<div class="container">
  <h2>new items</h2>

  <%= form_with url:admin_items_path, model:@item do |f| %>
    <div class="field">
      <%= f.text_field :name, autofocus: true, placeholder: "商品名" %>
    </div>

    <div class="actions">
      <%= f.submit "新規登録" %>
    </div>
  <% end %>
</div>

