<div class="main-visual-content">
  <p class="main-visual-text">
    ようこそ、ながのCAKEへ！<br>
    このサイトは、ケーキ販売のECサイトになります。<br>
    会員でない方も商品の<%= link_to "閲覧", items_path %>はできますが、<br>
    購入には<%= link_to "会員登録", customers_sign_up_path %>が必要になります。
  </p>
</div>