<div class="about-visual">
  <div class="container">
    <div class="row">
      <div class="col-5 ml-auto">
        <div class="row about justify-content-center, text-nowrap">
            <h3>About</h3><br>
            ながのCAKEは全国発送可能なケーキ屋さんです。<br>
            お子様からお年寄りの方までお召し上がりいただけるよう、<br>
            様々な<%= link_to "バリエーション", items_path %>をご用意しております。<br>
            また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。<br>
            ぜひご注文ください。
          </div>
        </div>
      </div>
    </div>
  </div>
</div>