<div class="container">
  <div class="row">
    <div class="col">
      <h3 class="my-5 under">会員一覧</h3>

      <table class="table">
        <thead>
          <tr class="table-active">
            <th>会員ID</th>
            <th>氏名</th>
            <th>メールアドレス</th>
            <th>ステータス</th>
          </tr>
        </thead>
        <% @customers.each do |customer| %>
        <tbody>
          <tr>
            <td><%= customer.id %></td>
            <td><%= link_to customer.full_name, admin_customer_path(customer) %></td>
            <td nowrap><%= customer.email %></td>
            <td>
              <% if customer.is_deleted? %>
                <span class="text-secondary font-weight-bold">退会</span>
              <% else %>
                <span class="text-success font-weight-bold">有効</span>
              <% end %>
            </td>
          </tr>
        </tbody>
        <% end %>
      </table>
      <%= paginate(@customers) %>
    </div>
  </div>
</div>