<div class="container">
  <div class="row">
    <div class="col">
      <h3 class="my-3">注文履歴一覧</h3>

      <table class="table">
        <thead>
          <tr>
            <th>購入日時</th>
            <th>購入者</th>
            <th>注文個数</th>
            <th>注文ステータス</th>
          </tr>
        </thead>
        <% @orders.each do |order| %>
        <tbody>
          <tr>
            <td><%= link_to order.created_at.to_s(:datetime_jp) ,admin_order_path(order) %></td>
            <td><%= order.customer.name %></td>
            <td><%= order.order_details.count %></td>
            <td>
              <% if order.status == 0 %>
                <span>入金待ち</span>
              <% elsif order.status == 1 %>
                <span>入金確認</span>
              <% elsif order.status == 2 %>
                <span>製作中</span>
              <% elsif order.status == 3 %>
                <span>発送準備中</span>
              <% else order.status == 4 %>
                <span>発送済み</span>
              <% end %>
            </td>
          </tr>
        </tbody>
        <% end %>
      </table>
      <%= paginate(@orders) %>
    </div>
  </div>
</div>
