<div class="container">
  <div class="row">
    <h5>注文履歴詳細</h5>
  </div>


<div class="row">
 <div class="col-lg-6">
   <p>注文情報</p>
  <table class="table table-bordered">
    <tr>
      <td>注文日</td>
      <td></td>
    </tr>
    <tr>
      <td>配送先</td>
      <td></td>
    </tr>
    <tr>
      <td>支払方法</td>
      <td></td>
    </tr>
    <tr>
      <td>ステータス</td>
      <td></td>
    </tr>
</table>
  </div>

<div class="col-lg-3">
  <p>請求情報</p>
 <table class="table table-bordered">
    <tr>
      <td>賞金合計</td>
      <td></td>
    </tr>
    <tr>
      <td>配送料</td>
      <td></td>
    </tr>
    <tr>
      <td><strong>ご請求金額</strong></td>
      <td></td>
    </tr>
</table>
</div>

<div class="row">
  <div class="col-lg-7">
  <p>注文内容</p>
 <table class="table table-bordered">
   <thead>
    <tr>
      <th>商品</th>
      <th>単価（税込）</th>
      <th>個数</th>
      <th>小径</th>
    </tr>
  </thead>
  
  <tbody>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>
  </div>
</div>

</div>