      <table class="table">
        <tr>
          <th>
            ジャンル検索（仮）
          </th>
        </tr>
      <% genres.each do |genre| %>
        <tr>
          <th>
            <%= genre.name %>
          </th>
        </tr>
      <% end %>
      </table>